.App{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background-color:  #202020;
  background-size: cover;
  height: 100%;
}

.todoHeading{
  color: #ffffff
}
.textContainer{
  display: flex;
  flex-direction: row;
  background-color:  #2c364c;
  background-size: cover;
  align-items: center;
  height: 13vh;
  width: 66vw;
  justify-content: space-between;

}




.subTextContainer{
  display: flex;
  flex-direction: row;
  margin:12px;
  gap: 10px;
}
.textData{
  border-radius: 10px;
  width: 30vw;
  margin:12px;
}
.suTextContainer2{
  margin-right: 12px;
}
.todoHeading1{
  color: #ffffff;
  margin:0px;
  margin-left: 12px;
}
.addButton{
  margin-right: 12px;
  align-items: center;
  border-radius: 10px;
  cursor:pointer;
  margin-top: 14px;
}
.todoContainer{
  display: flex;
  flex-direction: column;
  margin-top: 12px;

}


.finalContainer{
  display: flex;
  flex-direction: row;
  background-color:  #2c364c;
  background-size: cover;
  align-items: center;
  height: 13vh;
  width: 66vw;
  margin: 2px;
  justify-content: space-between;
}

.title{
  color: #ffffff;
  margin-left: 12px;
}


.buttonsText{
  display: flex;
  margin: 1px;
}



.buttonStyle{
  margin: 6px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .todoContainer {
    flex-direction: column;
    align-items: center;
  }

  .finalContainer {
    width: 90%;
  margin: 10px 0;
  text-align: center;

  border-radius: 5px;
  padding: 15px;
  background-color:  #2c364c;

  word-wrap: break-word;
}
}

@media (max-width: 400px) {
  .todoContainer {
    flex-direction: column;
    align-items: center;
  }

  .finalContainer {
    width: 90%;
    margin: 10px 0;
    text-align: center;
   
    border-radius: 5px;
    padding: 15px;
    background-color:  #2c364c;
   
    word-wrap: break-word;
  }
  .title{
    text-align: start;
  }
}

@media (max-width: 600px) {
  .textContainer{
    display: flex;
    flex-direction: row;
    background-color:  #2c364c;
    background-size: cover;
    align-items: center;
    height: 13vh;
    width: 90%;
    padding: 15px;
    justify-content: space-between;
  
  }

  .todoHeading {
    font-size: 20px;
  }

  .textData {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .addButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 14px;
  
  }
}

@media (max-width: 400px) {
  .todoHeading {
    font-size: 18px;
  }

  .addButton {
    padding: 10px 15px;
    font-size: 14px;
    margin-top: 14px;
  }
}

.buttonStyle2{
  background-color: aqua;
  margin: 9px;
  cursor: pointer;
}